@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  font-family: 'Roboto Flex', sans-serif;
  box-sizing: border-box;
}

ul > li {
  color: #777;
  list-style-type: none;
}
.nav {
  box-shadow: 0 3px 5px #ccc;
}
.community {display: none;}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 5px;
  padding: 1rem;
  & > h1 {
    font-weight: 400;
  }
  & > h1 > span {
    padding-left: 15px;
    color: #74b9ff;
  }
  & .hamburger {
    color: #74b9ff;
    font-size: 1.5em;
    transition: all .3s linear;
    &:hover {
      color: #333;
      transform: rotate(90deg);
    }
  }
}
.nav-items {
  overflow: hidden;
  height: 0;
  transition: all .5s linear;
  &.active {
    height: 10rem;
  }
  & > li {
    padding: .5rem 0 .5rem 1rem;
    font-size: 1.3em;
    transition: all .3s linear;
    &:hover {
      padding-left: 1.5rem;
      background-color: #74b9ff;
    }
  }

}

// 權限下面比上面大
@media screen and (min-width: 990px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    & .title .hamburger {display: none;}
    & .title {
      padding: 0;
    }
    & .nav-items {
      display: flex;
      height: auto;
      & > li {
        padding: 0;
        margin: 0 .5rem;
        &:hover {
          color: #74b9ff;
          background-color: transparent;
        }
      }
    }
    & .community {
      display: flex;
      color: #0984e3;
      font-size: 1.5em;
      & > span {
        margin: 0 .5rem;
        &:hover {
          color: #74b9ff;
        }
      }
    }
  }

}
